.mainContainer {
  width: 100%;
  height: 100%;
}

table {
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  padding: 10px;
  border: 1px solid;
}
